body {
	margin-top: 20px;
}
span {
	display: inline-block;
	position: relative;
	font-size: 2em;
	top: -55px;
	left: -20px;
}
.icon {
	position: relative;
    left: 10px;
    top: -20px;
	height: 50px;
	width: 50px;
	padding: 10px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 10px;
	background-color: #e9f6fd;
	background-size: 100%;
}
.panel-heading{
	min-height: 45px;
}
.panel-title {
	position: relative;
	display: inline-block;
	left: 10px;
}
.result {
	display: block;
}
.result h1 {
	font-size: 3em;
}
.my-btn {
	position: relative;
	display: block;
	clear: both;
	top: 150px;
}
.map {
	list-style-type: none;
	margin-top: 20px;
	text-align: center;
}
.map li {
    display: inline-block;
	margin-left: 20px;
}
.dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 5px;
}
#red {
	background-color: rgb(236, 138, 100);
}
#green {
    background-color: rgb(37, 158, 0);
}
#blue {
    background-color: rgb(21, 160, 200);
}
#dollar {
	background-image: url("../img/money_4.svg");
}
#arrow {
	background-image: url("../img/arrow-black-down.png");

}
